.radio_vote {
    display: inline-block;
    cursor: pointer;
    width: 128px;
    height: 128px;
    background-image: none;
}

.radio_vote_check {
    background-image: url("../img/check.jpg");
    background-size: 100% 100%;
}

.float_right {
    float: right;
}